---
import Layout from "../layouts/Layout.astro";
import "../css/general.css";
import filmimg from "../img/filmrulle.webp";
import CTAbtn from "../components/CTAbtn.astro";
import Priskort from "../components/Priskort.astro";

---

<Layout>
<section class="grid">


<div id="intro">
<h1>FREMKALD</h1>
<p class="span2">Vi har vores eget laboratorie hvor vi fremkalder billeder fra digital- og  analog kamera. Vi fremkalder også billeder direkte fra din smartphone!
Få dine minder fremkaldt – aflevér din film i butikken i dag! </p>

<div class="flex">
<CTAbtn>Film</CTAbtn>
<CTAbtn>Digitalt medie</CTAbtn>
<CTAbtn>Båndvideo</CTAbtn>
</div>

<h3 class="span2">OBS! Der pålægges gebyr på alt sort hvid film og ekstra leverings tid (3-5 dage i stedet for 1-2 dage)</h3>
</div>



<img src={filmimg.src} alt="Logo" />

</section>

<Priskort></Priskort>

<section id="gul-kasse">

<h3>FILM TIL DIT KAMERA</h3>
<p>Når du køber et analog kamera, skal der film til, for at det kan bruges.</p>
<p>Vi bestræber os på at have disse film hjemme, i 135mm og 120mm:</p>

<ul>
    <li>Fuji</li>
    <li>Portra</li>
    <li>Kodak</li>
    <li>Illford</li>
</ul>

</section>

<style>

section{
  margin: 140px;
}

.grid{
    margin: 140px;
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#intro{
    grid-column: span 2;
}

#gul-kasse{
    background-color: #FFD87D;
    padding: 50px;
    border-radius: 30px;
}

img{
    max-width: 100%;
    height: 450px;
    background-color: #E5F3FF;
    padding: 80px;
    border-radius: 30px;
    grid-column: 3;
}

ul,li {
  font-family: montserrat-r;
  font-size: 20px;
}

.flex{
    display: flex;
    flex-direction: column;
}

 @media (max-width: 800px) {

.grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#intro{
    display: grid;
        grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#intro h1{
    grid-column: 1;
    grid-row: 1;
}
#intro p{
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 100px;
}

.flex{
    grid-column: 1;
    grid-row: 2;
}

#intro h3{
    grid-column: 1;
    grid-row: 4;
}

section img{
    height: 100px;
    grid-column: 2;
    grid-row: 2;
}

 }



</style>

</Layout>