---
import Layout from "../layouts/Layout.astro";
import "../css/general.css";
import filmimg from "../img/filmrulle.webp";
import CTAbtn from "../components/CTAbtn.astro";
import Priskort from "../components/Priskort.astro";

---

<Layout>

<section class="grid-container">
    <div class="box" style="grid-area: box-1;">
        <h1>FREMKALD</h1>
        <p>Vi har vores eget laboratorie hvor vi fremkalder billeder fra digital- og  analog kamera. Vi fremkalder også billeder direkte fra din smartphone!
        Få dine minder fremkaldt – aflevér din film i butikken i dag! </p>
    </div>

    <div class="box flex" style="grid-area: box-2;">
        <CTAbtn>Film</CTAbtn>
        <CTAbtn>Digitalt medie</CTAbtn>
        <CTAbtn>Båndvideo</CTAbtn>
    </div>


    <div class="box" style="grid-area: box-3;">
        <h3>OBS! Der pålægges gebyr på alt sort hvid film og ekstra leverings tid (3-5 dage i stedet for 1-2 dage)</h3>
    </div>


    <div class="box" style="grid-area: box-4;">
        <img src={filmimg.src} alt="Logo" />
    </div>

</section>


<Priskort></Priskort>

<section id="gul-kasse">

<h3>FILM TIL DIT KAMERA</h3>
<p>Når du køber et analog kamera, skal der film til, for at det kan bruges.</p>
<p>Vi bestræber os på at have disse film hjemme, i 135mm og 120mm:</p>

<ul>
    <li>Fuji</li>
    <li>Portra</li>
    <li>Kodak</li>
    <li>Illford</li>
</ul>

</section>

<style>
section{
  margin: 100px;
}


.flex{
    display: flex;
    flex-direction: column;
    flex-basis: max-content;
}

img{
    max-width: 100%;
    height: auto;
    background-color: #E5F3FF;
    padding: 60px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 30px;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: auto;
    gap: 2em;
    grid-template-areas: 
    "box-1 box-1 box-1 box-1 box-4"
    "box-2 box-2 box-2 box-2 box-4"
    "box-3 box-3 box-3 box-3 box-4";
}

.grid-container h1{
    margin-top: -5px;
    margin-bottom: -20px;
}

#gul-kasse{
    background-color: #FFD87D;
    padding: 50px;
    border-radius: 30px;
}

ul,li {
  font-family: montserrat-r;
  font-size: 20px;
}


@media (max-width: 1000px) {
  .grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto;
    gap: 2em;
    grid-template-areas: 
    "box-1 box-1 box-1 box-4"
    "box-2 box-2 box-2 box-4"
    "box-3 box-3 box-3 box-4";
}

}


@media (max-width: 800px) {
    .grid-container{
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 200px 200px 200px;
    gap: 2em;
    grid-template-areas: 
    "box-1 box-1"
    "box-2 box-4"
    "box-3 box-3";
}

img{
    max-width: 100%;
    height: 150px;
    background-color: #E5F3FF;
    padding: 3cap;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}



}


</style>

</Layout>