---
import Layout from "../layouts/Layout.astro";
import "../css/general.css";
import Pascard from "../components/Pascard.astro";
import Pas from "../img/pas.webp";
import InfoboxWhite from "../components/InfoboxWhite.astro";
---

<Layout>
  <section class="Passide">
    <h1 class="Headline">PASFOTO</h1>
    <Pascard
      src={Pas.src}
      H2="FÅ TAGET DIT PASFOTO HOS NV FOTO"
      Ptext1="Hos NV Foto står vi klar til at tage dit næste pasfoto, så du er klar til din næste rejse. Vi følger de danske retningslinjer for pas fotos."
      Ptext2="Skal du have taget pas fotografi med andre landes retningslinjer, skal du selv bringe information om landets gældende retningslinjer med, så vi kan sørge for, at dit billede er helt som det skal være."
    />
    <div class="Pasinfo-boxes">
    <InfoboxWhite>
          <h2>PASFOTOGRAFI PRISER:</h2>
          <p class="Infotext">Dansk pas (40 x 45):</p>
          <p class="price">75kr</p>
          <p class="Infotext">Udenlandsk pas (Størrelse varierer):</p>
          <p class="price">100kr</p>
          <p>Ved udlandsk skal du selv medbringe krav/retningslinjer så vi er sikker på det er som det skal være.</p>
    </InfoboxWhite>
        <InfoboxWhite>
          <h2>PASFOTOGRAFI TIDER:</h2>
          <p class="Infotext">Mandag - Fredag:</p>
          <ul class="Tidspunkt-liste">
            <li>Børn: 9:00-16:00</li>
            <li>Voksen: 9:00-17:00</li>
          </ul>
             <p class="Infotext">Lørdag:</p>
          <ul class="Tidspunkt-liste">
            <li>Børn: 9:00-11:30</li>
            <li>Voksen: 9:00-12:00</li>
          </ul>
    </InfoboxWhite>
    </div>
  </section>
</Layout>

<style>
    section {
    max-width: 1300px;
  }


  .Passide {
    margin: auto 130px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .Infotext {
    font-weight: bolder;
    margin-bottom: 0;
  }

  .infoboxwhite {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

    .Pasinfo-boxes {
    display: flex;
    gap: 2rem;
    margin: 40px 0;
  }

  
    .Pasinfo-boxes h2 {
      font-size: clamp(24px, 2vw, 42px);
    }
   .Pasinfo-boxes ul {
      padding-left: 20px;
      font-family: montserrat-r;
      line-height: 2;
      font-size: 20px;
      padding: 0%;
      list-style-type: none;
    }

   .Pasinfo-boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin: 20px 0;
    }

  @media screen and (max-width: 1200px) {
    .Pasinfo-boxes {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 1000px) {
    body,
    html {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .Passide {
      margin: auto;
      width: calc(100% - 20px);
    }
    
</style>
