---
const { src, headline, bodytext } = Astro.props;
import Circle from "../img/circleelement.webp";
---

<section class="camera-section">
  <div class="img-text-container">
    <div class="img-container">
      <img src={src} alt="Point and shoot kamera" class="Camimg" />
      <img src={Circle.src} alt="Circle element" class="Circle" />
    </div>
    <div class="text-container">
      <h2>{headline}</h2>
      <p>{bodytext}</p>
    </div>
  </div>
</section>

<style>
  .camera-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
  }

  .img-text-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .img-container {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  .Camimg {
    width: auto;
    max-width: 300px;
    height: auto;
    position: relative;
    z-index: 2;
    margin-left: 10px;
    right: 25%;
    bottom: 5%;
  }

  .Circle {
    position: absolute;
    width: 250px;
    height: auto;
    bottom: -5%;
    right: 54%;
    z-index: 1;
  }

  .text-container {
    flex: 1;
    padding: 20px 10px;
    text-align: left;
  }

  .text-container h2 {
    margin-top: 0;
    font-size: 2em;
  }

  .text-container p {
    line-height: 1.5;
  }

  @media (max-width: 1000px) {
    .img-text-container {
      flex-direction: column;
      text-align: center;
    }

    .img-container {
      margin-left: 0;
      margin-top: 20px;
      order: -1;
    }

    .Camimg {
      transform: scaleX(-1) translateX(0%);
    }

    .Circle {
      bottom: -20%;
      right: 10%;
    }
  }
</style>
