---
const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
  a {
    font-family: montserrat-m;
    font-size: 24px;
    height: 100%;
    background: linear-gradient(180deg, transparent 50%, #ffc446 50%);
    max-width: 200px;
    margin-bottom: 20px;
    padding-left: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    color: #091f5b;
    transition:
      background 0.5s ease-in-out,
      font-family 0.5s ease-in-out;
  }

  a:hover {
    font-family: montserrat-sb;
    font-size: 24px;
    background: #ffc446;
    border-radius: 5px;
    cursor: pointer;
  }

  @media screen and (max-width: 1000px) {
    a,
    a:hover {
      max-width: 150px;
      font-size: 20px;
      height: 25px;
    }
  }
</style>
