<section class="InfoboxBlue">
  <slot />
</section>

<style>
  .InfoboxBlue {
    background-color: #091f5b;
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
    color: white;
  }

  @media screen and (max-width: 1000px) {
    .InfoboxBlue {
      padding: 20px;
    }
  }
</style>
