<section class="InfoboxWhite">
  <div class="Infobox">
    <slot />
  </div>
</section>

<style>
  .InfoboxWhite {
    width: 100%;
    margin-bottom: 3rem;
  }

  .Infobox {
    background-color: #ffffff;
    padding: 1rem 3rem;
    border-radius: 10px;
    height: 100%;
  }
</style>
