<section class="InfoboxBlue">
  <slot />
</section>

<style>
  .InfoboxBlue {
    background-color: #091f5b;
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
    color: white;
  }
</style>
