<section class="InfoboxWhite">
  <div class="Infobox">
    <slot />
  </div>
</section>

<style>
  .InfoboxWhite {
    width: 100%;
  }

  .Infobox {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0 2rem;
    border-radius: 10px;
    height: 100%;
  }
</style>
