---
const { src, H2, Ptext1, Ptext2 } = Astro.props;
---

<section class="pas-section">
  <div class="img-text-container">
    <div class="pasimg-container">
      <img src={src} alt="Passport illustration" class="passportillustration" />
    </div>
    <div class="text-container">
      <h2>{H2}</h2>
      <p>{Ptext1}</p>
      <p>{Ptext2}</p>
    </div>
  </div>
</section>

<style>
  section {
    max-width: 1300px;
  }

  .img-text-container {
    background-color: #ffd87d;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
  }

  .passportillustration {
    width: 300px;
    padding: 20px 20px 20px 0px;
  }

  .text-container {
    padding: 20px 20px;
  }

  .pas-section {
    margin-bottom: 3rem;
    overflow: visible;
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 1000px) {
    .img-text-container {
      flex-direction: column;
      padding: 20px;
    }

    .pas-section {
      display: flex;
      flex-wrap: wrap;
    }

    .passportillustration {
      max-width: 100%;
      margin-top: 10px;
      padding: 0px;
    }

    .pasimg-container {
      margin: auto;
    }

    .text-container {
      padding: 0;
    }
  }
</style>
