---
const { src, H2, Ptext1, Ptext2 } = Astro.props;
---

<section class="pas-section">
  <div class="pasimg-container">
    <img src={src} alt="Passport illustration" class="passportillustration" />
  </div>
  <div class="text-container">
    <h2>{H2}</h2>
    <p>{Ptext1}</p>
    <p>{Ptext2}</p>
  </div>
</section>

<style>
  section {
    max-width: 1300px;
  }

  .passportillustration {
    width: 300px;
    padding: 20px 20px;
  }

  .text-container {
    padding: 20px 10px;
  }

  .pas-section {
    background-color: #ffd87d;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
  }

  @media (max-width: 1000px) {
    .pas-section {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
    }

    .passportillustration {
      max-width: 100%;
      margin-top: 10px;
      padding: 0px;
    }

    .pasimg-container {
      margin: auto;
    }
  }
</style>
