---
import Prislistebox from "../components/Prislistebox.astro";
import "../css/general.css";
---

<section class=".card">
  <div id="film-pris">
    <Prislistebox id={1} />
  </div>
  <div id="digital-pris">
    <Prislistebox id={2} />
  </div>
  <div id="video-pris">
    <Prislistebox id={3} />
  </div>
</section>

<style>
  .card {
    margin: auto 130px;
  }
</style>
