---
import Prisliste from "../components/Prisliste.astro";

const { id } = Astro.props;

const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvZHBxdHR5YnhuenNjeW9pcG1sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg5ODkzOTYsImV4cCI6MjA4NDU2NTM5Nn0.tOfYKU6R4eDxoF_GW3XyUfNID49uA--D_a2PO6QdU-E";

const base = "https://eodpqttybxnzscyoipml.supabase.co/rest/v1/nv-foto";

const url = `${base}?select=*&id=eq.${id}`;

const data = await fetch(url, {
  headers: { apikey: key },
})
  .then((res) => res.json())
  .then((json) => json[0]);
---

<div class="box">
  <Prisliste data={data} id={id} />
</div>

<style>
  .box {
    background: white;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 850px) {
    .box {
      padding: 20px;
    }
  }
</style>
