---
import Prisliste from "../components/Prisliste.astro";

const { id } = Astro.props;

const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlya3l2amhrbGJnd3lhcnV3cmdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNTk0MjksImV4cCI6MjA4MDkzNTQyOX0.qbPtnd2OIIoEmHX2MRnc_PMZdoL2nHHkNS0sL4TiJJ4";

const base = "https://irkyvjhklbgwyaruwrgp.supabase.co/rest/v1/prisliste";

const url = `${base}?select=*&id=eq.${id}`;

const data = await fetch(url, {
  headers: { apikey: key },
})
  .then((res) => res.json())
  .then((json) => json[0]);
---

<div class="box">
  <Prisliste data={data} id={id} />
</div>

<style>
  .box {
    background: white;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 850px) {
    .box {
      padding: 20px;
    }
  }
</style>
