body {
  background-color: #f2ece5;
}

main {
}
@font-face {
  font-family: montserrat-m;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: montserrat-r;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montserrat-sb;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: youngserif-r;
  src: url(../fonts/YoungSerif-Regular.ttf);
}

h1,
h2,
h3,
p {
  color: #00071a;
}

h1 {
  font-family: youngserif-r;
  font-size: 64px;
}

h2 {
  font-family: youngserif-r;
  font-size: 32px;
}

h3 {
  font-family: montserrat-sb;
  font-size: 24px;
}

p {
  font-family: montserrat-r;
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 800px) {
  h1 {
    font-family: youngserif-r;
    font-size: 32px;
  }

  h2 {
    font-family: youngserif-r;
    font-size: 24px;
  }

  h3 {
    font-family: montserrat-sb;
    font-size: 22px;
  }

  p,
  li {
    font-family: montserrat-r;
    font-size: 18px;
  }
}
