---
import Logo from ..img/Logo.astro";
---

<header
>
  <Logo />
  <h1 style="margin-left: 1rem;">NV Foto</h1>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #000000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>