---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../css/general.css";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon_nv_bluebg.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>NV Foto</title>
  </head>
  <body>
    <Header />
    <main><slot /></main>
    <Footer />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
